body{
  background-color: #d1d3d5;
  display: flex;
  flex-direction:column;
  justify-content: center;
}


.fileiraCards {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  overflow-y: hidden;
  justify-content: center;
  margin: 28px;
}