.rodape{
    background-color: #006d9d;
    display: flex;
    flex-wrap: wrap;
}

.rodape p{
    font-weight: 900;
    font-size: 20px;
}

.rodape a {
    text-decoration: none;
    color: #71c7f0;
}

.rodape a:hover{
    color: #86E3B2;
}